<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <!-- <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"> -->

<!-- style du new template -->
  <link rel="stylesheet" type="text/css" href="../../files/bower_components/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="../../files/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
  
  <link rel="stylesheet" type="text/css" href="../../files/assets/icon/feather/css/feather.css">
  
  <link rel="stylesheet" type="text/css" href="../../files/assets/css/font-awesome-n.min.css">
  
  <link rel="stylesheet" href="../../files/bower_components/chartist/css/chartist.css" type="text/css" media="all">
  
  <link rel="stylesheet" type="text/css" href="../../files/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="../../files/assets/css/widget.css">




<link rel="stylesheet" type="text/css" href="../../files/bower_components/jquery.steps/css/jquery.steps.css">

<link rel="stylesheet" type="text/css" href="../../files/assets/css/pages.css">


  <!-- Template Main CSS File important-->
  <link href="../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bikin
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/bikin-free-simple-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  
</head>

<body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
<script src="../../assets/vendor/aos/aos.js"></script>
<script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>


<!-- script du new template -->
<script src="../../files/assets/pages/waves/js/waves.min.js"></script>
<script type="text/javascript" src="../../files/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="../../files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../files/bower_components/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../files/bower_components/popper.js/js/popper.min.js"></script>


<script type="text/javascript" src="../../files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>




<script src="../../files/assets/js/pcoded.min.js"></script>
<script src="../../files/assets/js/vertical/vertical-layout.min.js"></script>



<!-- a suuppppppppppppppp -->
<script type="text/javascript" src="../../files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

<script type="text/javascript" src="../../files/bower_components/modernizr/js/modernizr.js"></script>
<script type="text/javascript" src="../../files/bower_components/modernizr/js/css-scrollbars.js"></script>

<script src="../../files/bower_components/jquery.steps/js/jquery.steps.js"></script>
<script src="../../files/bower_components/jquery-validation/js/jquery.validate.js"></script>

<script type="text/javascript" src="../../files/assets/pages/form-validation/validate.js"></script>

<script src="../../files/assets/pages/forms-wizard-validation/form-wizard.js"></script>
<script src="../../files/assets/js/pcoded.min.js"></script>
<script src="../../files/assets/js/vertical/vertical-layout.min.js"></script>
<script src="../../files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- a suupppppppppppp -->
<script type="text/javascript" src="../../files/assets/js/script.min.js"></script>


</body>
</html>