<template>
    <DashboardRecruteur>
        <div class="card">
            <div class="card-header">
                <p class="titre" style="color: #cc5500;">Nouvelle offre d'emploi</p>
            </div>
            <div class="card-block">
                <div class="alert alert-danger">certains champs obligatoire sont vides</div>
                <form  @submit.prevent="confirmForm()" enctype='multipart/form-data'>

                    <fieldset  v-if="currentStep == 1">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="Poste" class="block" style="color: #1D4851; font-weight: bold;">Poste <span style="color:rgb(233, 105, 1)">*</span> </label>
                            </div>
                            <div class="col-sm-12 ">
                                <v-select v-model="offre_emploi.poste" class="bg-light" :options="postes" label="nom"
                                    :reduce="poste => poste.id"></v-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="poste_description" class="block" style="color: #1D4851; font-weight: bold;">Description du poste <span style="color:rgb(233, 105, 1)">*</span> </label>
                            </div>
                            <editor 
                            api-key="0d2g5p8c072oixonkcw46ngvx25ebly6xt4tumlzqucv66jv"
                            v-model="offre_emploi.description"
                            :init="{
                                
                                // menubar: false
                                 plugins: 'lists',
                                 toolbar: 'undo redo | blocks | bold italic | alignleft aligncentre alignright alignjustify | indent outdent | bullist numlist',
                                 
                                 }" />
                        </div>

                        <button class="btn btn-primary float-end" type="button" @click="goStep(2)">Suivant</button>

                    </fieldset>
                    <fieldset  v-if="currentStep == 2">

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="salaire" class="block" 
                                    style="color: #1D4851; font-weight: bold;">Type de contrat <span style="color:rgb(233, 105, 1)">*</span> </label>
                            </div>
                            <div class="col-sm-12">

                        <v-select v-model="offre_emploi.type_contrat" class="bg-light" :options="types_contrat" ></v-select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="niveau_etude" class="block" style="color: #1D4851; font-weight: bold;">Niveau d'Etude minimum <span style="color:rgb(233, 105, 1)">*</span> </label>
                            </div>
                            <div class="col-sm-12 ">
                                <v-select v-model="offre_emploi.niveau_etude" class="bg-light" :options="niveau_etudes" label="niveau_etude"
                                    :reduce="nv => nv.id"></v-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="competences" class="block"
                                    style="color: #1D4851; font-weight: bold;">Competences requises <span style="color:rgb(233, 105, 1)">*</span> </label>
                            </div>
                            <div class="col-sm-12 ">
                                <v-select v-model="offre_emploi.competences" class="bg-light" :options="competences" label="nom"
                                    :reduce="competence => competence.id" multiple></v-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="nombre_demande" class="block" style="color: #1D4851; font-weight: bold;">Nombre de candidat à embaucher à la fin du recrutement <span style="color:rgb(233, 105, 1)">*</span></label>
                            </div>
                            <div class="col-sm-12">
                                <input v-model="offre_emploi.nombre_demande" id="nombre_demande" type="number" class=" form-control   bg-light" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="date_limite" class="block" style="color: #1D4851; font-weight: bold;">Date limite pour cloturer l'offre <span style="color:rgb(233, 105, 1)">*</span>
                                    </label>
                            </div>
                            <div class="col-sm-12">
                                <input v-model="offre_emploi.date_limite"  id="date_limite" type="date" class=" form-control n-input  bg-light" required>
                            </div>
                        </div>
                      

                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary" @click="goStep(1)" type="button">précédent</button>
                            <button class="btn btn-primary" @click="goStep(3)" type="button">Suivant</button>
                        </div>
                       
                    </fieldset>
                    <fieldset  v-if="currentStep == 3">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="nom_entreprise" class="block" style="color: #1d4851; font-weight: bold;">Nom de
                                    l'entreprise qui recrute <span style="color:#e96901">*</span> </label>
                            </div>
                            <div class="col-sm-12">
                                <input v-model="offre_emploi.nom_entreprise" id="nom_entreprise" name="nom_entreprise" type="text"
                                    class=" form-control n-input  bg-light">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="localisation" class="block" style="color: #1D4851; font-weight: bold;">Localisation</label>
                            </div>
                            <div class="col-sm-12">
                                <input v-model="offre_emploi.localisation" id="localisation" name="localisation" type="text"
                                    class=" form-control n-input  bg-light">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="salaire" class="block" 
                                    style="color: #1D4851; font-weight: bold;">Salaire</label>
                            </div>
                            <div class="col-sm-12">
                                <input v-model="offre_emploi.salaire" id="salaire" name="salaire" type="number" class=" form-control n-input  bg-light">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="age" class="block" style="color: #1D4851; font-weight: bold;">Age requis</label>
                            </div>
                            <div class="col-sm-12">
                                <input v-model="offre_emploi.age_requis" id="age" name="age" type="number" class=" form-control n-input  bg-light">
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button @click="goStep(2)" type="button" class="btn btn-primary">Précédent</button>
                            <button @click="goStep(4)" type="button" class="btn btn-primary">Suivant</button>
                        </div>
                        
                    </fieldset>
                    <fieldset  v-if="currentStep == 4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="langue" class="block" style="color: #1D4851; font-weight: bold;">Langue
                                    requise</label>
                            </div>
                            <div class="col-sm-12">
                                <input v-model="offre_emploi.langue_requise" id="langue"  type="text" class=" form-control n-input  bg-light">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="centre_interet" class="block" style="color: #1D4851; font-weight: bold;">Centre
                                    d'intérets <span style="color:rgb(233, 105, 1)">*</span> </label>
                            </div>
                            <div class="col-sm-12 ">
                                <v-select v-model="offre_emploi.centre_interet" class="bg-light" :options="centre_interets" label="nom"
                                    :reduce="centre_interet => centre_interet.id" ></v-select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <label class="form-label" for="image" style="color: #1D4851; font-weight: bold;">Image qui
                                    accompagnera votre
                                    offre
                                </label>
                                <input @change="$e=>fileChanged($e)" type="file" class="form-control" name="image">
                            </div>
                        </div>
                       
                        <div class="d-flex justify-content-between">
                                <button @click="goStep(3)" class="btn  btn-primary" type="button">Précédent</button>
                                <button type="submit" class="btn  btn-primary">Terminer</button>
                            </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </DashboardRecruteur>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'
import DashboardRecruteur from '../DashboardView.vue'
import { OffreEmploi } from '@/services/offre_emploi.service'
import { infoService,accountService } from '@/services'
import Swal from 'sweetalert2'
export default {
    components: { DashboardRecruteur,'editor': Editor },
    mounted() {
        this.recruteur = accountService.USER

        infoService.get_all_centre_interet()
            .then(res => this.centre_interets = res.data.results)
            .catch(err => console.log(err))

        infoService.get_all_competence()
            .then(res => this.competences = res.data.results)
            .catch(err => console.log(err))

        infoService.get_all_niv_etude()
            .then(res => this.niveau_etudes = res.data.results)
            .catch(err => console.log(err))

        infoService.get_all_post()
            .then(res => this.postes = res.data.results)
            .catch(err => console.log(err))
    },
    data() {
        return {
            recruteur:null,
            postes: [],
            currentStep: 1,
            types_contrat:['CDD','CDI','FREELANCE','STAGE'],
            competences: [],
            niveau_etudes: [],
            centre_interets: [],
            offre_emploi: {
                nom_entreprise: '',
                salaire: 0,
                nombre_demande:1,
                localisation: '',
                description:'',
                type_contrat: '',
                date_limite: null,
                langue_requise: '',
                age_requis: 18,
                poste: null,
                niveau_etude: null,
                competences: [],
                centre_interet: null,
                image:null,


            },
            mydata: new FormData()
        }
    },
    methods: {
        goStep(step) {
            this.currentStep = step;

        },
        confirmForm() {
            console.log(this.offre_emploi);
            // this.create_offre()
        },
        fileChanged(e){
            this.offre_emploi.image = e.target.files[0]
            this.mydata.append('image',this.offre_emploi.image)
        },
        create_offre() {
            this.mydata.append('nom_entreprise',this.offre_emploi.nom_entreprise)
            this.mydata.append('localisation',this.offre_emploi.localisation)
            this.mydata.append('type_contrat',this.offre_emploi.type_contrat)
            this.mydata.append('date_limite',this.offre_emploi.date_limite)
            this.mydata.append('langue_requise',this.offre_emploi.langue_requise)
            this.mydata.append('age_requis',this.offre_emploi.age_requis)
            this.mydata.append('salaire',this.offre_emploi.salaire)
            this.mydata.append('nombre_demande',this.offre_emploi.nombre_demande)
            this.mydata.append('competences',JSON.stringify(this.offre_emploi.competences))
            this.mydata.append('poste', this.offre_emploi.poste)
            this.mydata.append('centre_interet',this.offre_emploi.centre_interet)
            this.mydata.append('niveau_etude',this.offre_emploi.niveau_etude)
            this.mydata.append('description',this.offre_emploi.description)
            OffreEmploi.create_offre(this.mydata)
            .then(res=>{
                this.mydata = new FormData()
                if(res.status == 201){
                Swal.fire({
                        icon: 'success',
                        title: 'Créé',
                        text: 'Une nouvelle offre a été créer avec success!',
                        showConfirmButton:false,
                        timer:2000
                    }
                ).then(res => {
                        //revenir sur la page précédente 
                        history.back()
                    })
                }
               }
                )
                .catch(err =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Operation échoué',
                        text: "l'offre n'a pas pu etre créé",
                        timer:2000
                    })
                }
                ).catch(err=>console.log(err))
        }
    }

}

</script>

<style>
@import 'vue-select/dist/vue-select.css';


fieldset {
    background-color: white;
}

.wizard>.content {
    background-color: white;
}

.titre {
    color: #1D4851;
    font-size: 20px;
    font-weight: bold;
}

.multi_select .vs__selected {
    background-color: #4099ff;
    color: white
}

.multi_select {
    background-color: rgb(248, 249, 250);
}
</style>