<template>
    <div id="pcoded" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink" vnavigation-view="view1" nav-type="st2" fream-type="theme1" layout-type="light">

<nav class="navbar header-navbar pcoded-header iscollapsed" header-theme="themelight1" pcoded-header-position="fixed">
                <div class="navbar-wrapper">
                    <div class="navbar-logo d-flex justify-content-between" style="background-color: white;">
                        <a href="../index-2.html">
                            <img class="R-logo_entreprise" src="@/assets/images/logo-large.png" style=" width: 90%; "
                                alt="">
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-right">
                            <li class="header-notification ">
                                Accueil
                            </li>
                            <li class="header-notification">
                                Offres d'emploi
                            </li>

                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-bell"></i>
                                        <span class="badge bg-c-red">5</span>
                                    </div>
                                    <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn"
                                        data-dropdown-out="fadeOut">
                                        <li>
                                            <h6>Notifications</h6>
                                            <label class="label label-danger">New</label>
                                        </li>

                                        <li>
                                            <div class="media">
                                                <img class="img-radius" src="@/assets/files/assets/images/avatar-3.jpg"
                                                    alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">Joseph William</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer
                                                        elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="@/assets/files/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                        <span></span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                          <a href="auth-lock-screen.html">
                                                <i class="feather icon-lock"></i> Lock Screen
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id="hero-rbk" class="d-flex align-items-center" style="padding-top:60px;">
              <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
        <section class="container-fluid">
          <div class="row">
<div class="col-md-8">
<div class="card sale-card">
  <div class="card-body">
          <div class="card-text col-12">
            <p class="publication" style="margin-left: 70%;"><i class="fas fa-calendar-alt"></i> Publié le 20/06/2023</p>
            <p class="metier">offre d'emploi</p>
            <p class="socie">Administrateur des Bases de Données</p>
            <p class="descrept"><i class="fas fa-tag"></i> Description de l'offre</p>
          </div>
          <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium elit in augue fermentum, vel tempus urna eleifend. Sed auctor 
            dui at lacus euismod consequat. Curabitur venenatis odio a ante maximus, 
            eget eleifend felis dapibus. Maecenas semper dui ut nisi consequat, 
            ut condimentum sem faucibus. Sed eget dui sit amet nulla euismod 
            fermentum a at purus. Fusce non enim in ligula dapibus elementum 
            nec id neque. Nulla vel turpis in elit vestibulum fringilla at eu urna. 
            Nulla facilisi. Aenean in tincidunt enim, non lobortis sem. Sed vel varius sem. 
            Vivamus tincidunt sem ut orci commodo feugiat. Nulla facilisi. Mauris eu ullamcorper ligula.
          </p>
          <p class="descrept"><i class="fas fa-building"></i> Description Entreprise</p>
          <p class="lorem">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium elit 
            in augue fermentum, vel tempus urna eleifend. Sed auctor dui at lacus euismod 
            consequat. Curabitur venenatis odio a ante maximus, eget eleifend felis dapibus. 
            Maecenas semper dui ut nisi consequat, ut condimentum sem faucibus. Sed eget dui sit amet nulla 
            euismod fermentum a at purus. Fusce non enim in ligula dapibus elementum nec id neque. Nulla vel turpis 
            in elit vestibulum fringilla at eu urna. Nulla facilisi. Aenean in tincidunt enim, non lobortis sem. Sed vel varius sem. 
            Vivamus tincidunt sem ut orci commodo feugiat.
          </p>

      </div>
<div class="card-block">
<div class="row">
<div class="col-sm-8">
<div id="allocation-map" class="chart-shadow" style="height:215px"></div>
</div>
<div class="col-sm-4">
<div id="allocation-chart" class="chart-shadow" style="height:215px"></div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4" style="margin-top: 2%;">
<div class="card prod-p-card card-white">
<div class="card-body">
<label class="badge badge-warning" style="margin-left: 70%;">CDI</label>
<div class="card1">
<p class="commun">  <i class="fas fa-map-marker-alt"></i><span class="com">Cotonou vers Carrefour ITA</span></p>
<p class="exp"><i class="fas fa-calendar-alt"></i> <span class="co">Expire le 22/12/2023</span></p>
</div>
<div class="col-auto">
</div>
</div>
</div>
<div class="card prod-p-card card-white">
<div class="card-body">
<div class="card2">
  <p class="comp"><i class="fas fa-star"></i><span class="com">Compétences requises</span></p>
  <ul class="competences text-md-start">
    <li>Administrateur des bases de données</li>
    <li>Administrateur des bases de données</li>
    <li>Administrateur des bases de données</li>
  </ul>
  <p class="lang"><i class="fas fa-globe"></i><span class="com">Langue requises</span> </p>
  <ul class="langue text-md-start">
    <li>Fon</li>
    <li>Français</li>
    <li>Anglais</li>
  </ul>
  <button class="btn "><span class="postuler">Postuler</span></button>
</div>
<div class="col-auto">
</div>
</div>
</div>

</div>
          </div>
</section>
</div>

</section>
<section id="about" class="about-rbk">
  <div class="container">

    <div class="row no-gutters">
      <div class="content col-5 d-flex align-items-stretch" data-aos="fade-right">
        <div class="content">
          <h3>Kapital Humain & Conseils</h3>
          <p>Gbégamey-BENIN</p>
          <p>Imeuble BOURJON à trois étages situé dans la von en face de la Soneb</p>
          <p><b>Téléphone: </b>+(229)99915050/+(229)65 66 04 38</p>
          <p><b>Email: </b>gnankpan@kapitalhc.com</p>
        </div>
      </div>
      <div class="col-xl-7 d-flex align-items-stretch" data-aos="fade-left">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 icon-box" data-aos="fade-up" id="R-footer" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Liens importants</h4>
              <li>Offres D'emploi</li>
              <li>Espace Recruteur</li>
            </div>
            <div class="col-md-6 icon-box" id="Footer1" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>Kapital Humain & Conseils</h4>
              <p>Rendre l'avenir plus radieux</p>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
</div>
    
<footer id="footer-rbk">

<div class="container d-md-flex py-4">

  <div class="me-md-auto text-center text-md-start">
    <div class="R-copyright">
      &copy; Copyright <strong><span>Kapital Humain et Conseils</span></strong>. Tous droits réservés.
    </div>
  </div>
  
</div>
</footer>

</template>
<script>
import '@/assets/js/main.js';
export default{
}
</script>
<style scoped>
a{
  text-decoration: none;
}
#R_btn_rechercher{
 background-color: #1D4851; 
  color: white; 
  width: 150px; 
  height: 50px;
}
#R_btn_rechercher:hover{
  background-color: #cc5500;
}
#R_btn_connexion{
  background-color: #1D4851; 
  color: white;
}
#R_btn_connexion:hover{
  background-color: #cc5500;
}
#Footer1{
  margin-left: 80%;
  margin-top: -30%;
}
#R-footer{
  margin-left: 20%;
}
.card{
  margin-top: 5%;
}
.logo{
    width: 20%;
    height: 20%;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 100%;
    border: 1px;
  }
  .metier{
    color: #00080a;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
  }
  .socie{
    font-weight: bold;
    font-size: 25px;
    color: #1D4851;
  }
  .offre{
    font-size: 15px;
    font-weight: bold;
    color: #1c5e74;
    margin-left: 70%;
 }
 .logo{
  width: 15%;
  margin-top: 2%;
 }
 .descrept{
  font-weight: bold;
    font-size: 20px;
    color: #1D4851;
    background-color: #d1dfe3;
 }
 .lorem{
  font-size: 20px;
  text-align: start;
 }
 .publication{
  font-style: italic;
  font-weight: bold;
 }
 .commun{
  font-size: 15px;
  color: #1D4851;
  font-weight: bold;
 }
 .btn{
  background-color: #1D4851;
  margin-left: 70%;
  width: 30%;

 }
 .btn:hover{
  background-color: #cc5500;
 }
 .postuler{
  color: white;
 }
 .img{
  width: 721px;
  margin-top: 1%;
  height: 250px;
  margin-right: 2%;
  border-radius: 2%;
 }
 .card1{
  margin-right: 20%;
 }
 .lang{
  font-size: 15px;
  color: #1D4851;
  font-weight: bold;
  margin-right: 30%;
 }
 .comp{
  font-size: 15px;
  color: #1D4851;
  font-weight: bold;
  margin-right: 15%;
 }
 .exp{
  margin-right: 20%;
  font-size: 15px;
  color: #1D4851;
  font-weight: bold;
  margin-right: 15%;
}
.com{
  margin-left: 5%;
}
.competences{
  list-style-type:circle;
  color: #1D4851;
  font-weight: bold;
}
.co{
  color: rgb(241, 105, 105);
}
.langue{
  list-style-type:circle;
  color: #1D4851;
  font-weight: bold;
}
</style>