<template>
    <DashboardRecruteur>
        <div class="card">
            <div class="card-header">
                <p class="titre" style="color: #cc5500;">Modification d'offre d'emploi</p>
            </div>
            
            <div class="card-block">
                <form enctype='multipart/form-data' @submit.prevent="confirmForm('poste')" >
                    <div class="card">
                        <div class="card-header">
                            <p class="titre"> Informations relative a la fiche de poste</p>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="Poste" class="block" style="color: #1D4851; font-weight: bold;">Poste <span style="color:rgb(233, 105, 1)">*</span> </label>
                                </div>
                                <div class="col-sm-12 ">
                                    <v-select v-model="offre_emploi.poste" class="bg-light" :options="postes" label="nom"
                                        :reduce="poste => poste.id"></v-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="description" class="block"
                                        style="color: #1D4851; font-weight: bold;">Description du poste</label>
                                </div>
                                <div class="col-sm-12">
                                    <editor 
                                    api-key="0d2g5p8c072oixonkcw46ngvx25ebly6xt4tumlzqucv66jv"
                                    v-model="offre_emploi.description"
                                    :init="{
                                    // menubar: false
                                    plugins: 'lists',
                                    toolbar: 'undo redo | blocks | bold italic | alignleft aligncentre alignright alignjustify | indent outdent | bullist numlist',
                                 
                                 }" />
                                </div>
                            </div>
                            
                            
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="competence" class="block" style="color: #1D4851; font-weight: bold;">competences requises <span style="color:rgb(233, 105, 1)">*</span> </label>
                                </div>
                                <div class="col-sm-12 ">
                                    <v-select v-model="offre_emploi.competences" class="" :options="competences" label="nom"
                                        :reduce = "competence=>competence.id"
                                         multiple></v-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="niveau d'etude" class="block" style="color: #1D4851; font-weight: bold;">Niveau d'etude <span style="color:rgb(233, 105, 1)">*</span> </label>
                                </div>
                                <div class="col-sm-12 ">
                                    <v-select v-model="offre_emploi.niveau_etude" class="" :options="niveau_etudes" label="niveau_etude"
                                        :reduce="nv =>nv.id"></v-select>
                                </div>
                            </div>
                            <button class="btn btn-primary float-end" type="submit">Sauvegarder</button>
                        </div>
                        
                       
                       

                    </div>
                </form>

                <form @submit.prevent="confirmForm('supp_info')" >
                    <div class="card">
                        <div class="card-header">
                            <p class="titre">Informations Supplémentaires</p>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="nom_entreprise" class="block"
                                        style="color: #1D4851; font-weight: bold;">Nom de l'entreprise qui recrute</label>
                                </div>
                                <div class="col-sm-12">
    
                                    <input v-model="offre_emploi.nom_entreprise" id="nom_entreprise" type="text" class=" form-control   bg-light" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="nombre_demande" class="block" style="color: #1D4851; font-weight: bold;">Nombre de candidat à embaucher à la fin du recrutement <span style="color:rgb(233, 105, 1)">*</span></label>
                                </div>
                                <div class="col-sm-12">
                                    <input v-model="offre_emploi.nombre_demande" id="nombre_demande" type="number" class=" form-control   bg-light" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="salaire" class="block"
                                        style="color: #1D4851; font-weight: bold;">Salaire</label>
                                </div>
                                <div class="col-sm-12">
    
                                    <input v-model="offre_emploi.salaire" type="number" class="form-control bg-light"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="date_limite" class="block" style="color: #1D4851; font-weight: bold;">Date limite pour cloturer l'offre <span style="color:rgb(233, 105, 1)">*</span>
                                        </label>
                                </div>
                                <div class="col-sm-12">
                                    <input v-model="offre_emploi.date_limite"  id="date_limite" type="date" class=" form-control n-input  bg-light" required>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="type_contrat" class="block"
                                        style="color: #1D4851; font-weight: bold;">Type de contrat</label>
                                </div>
                                <div class="col-sm-12">
                                    <v-select v-model="offre_emploi.type_contrat" class="bg-light" :options="types_contrat" ></v-select>
                               </div>
                            </div>
                            
                            
                            
                            
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="niveau d'etude" class="block" style="color: #1D4851; font-weight: bold;">Centre d'intérets <span style="color:rgb(233, 105, 1)">*</span> </label>
                                </div>
                                <div class="col-sm-12 ">
                                    <v-select v-model="offre_emploi.centre_interet" class="" :options="centre_interets" label="nom"
                                        :reduce="centre_interet =>centre_interet.id"></v-select>
                                </div>
                            </div>
                            <button class="btn btn-primary float-end" type="submit">Sauvegarder</button>
                        </div>
                        
                       
                       

                    </div>
                </form>

                <form @submit.prevent="confirmForm('autres_info')" >
                    <div class="card">
                        <div class="card-header">
                            <p class="titre">Autres informations</p>
                        </div>
                        
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="localisation" class="block" style="color: #1D4851; font-weight: bold;">Localisation</label>
                                </div>
                                <div class="col-sm-12">
                                    <input v-model="offre_emploi.localisation" id="localisation" name="localisation" type="text"
                                        class=" form-control n-input  bg-light">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="Missions_poste" class="block"
                                        style="color: #1D4851; font-weight: bold;">Age requis</label>
                                </div>
                                <div class="col-sm-12">
                                    <input  v-model="offre_emploi.age_requis"  type="number" class="form-control bg-light" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="" class="block"
                                        style="color: #1D4851; font-weight: bold;">Langue requise</label>
                                </div>
                                <div class="col-sm-12">
                                    <input v-model="offre_emploi.langue_requise" type="text" class="form-control bg-light"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label" for="image" style="color: #1D4851; font-weight: bold;">Image qui
                                        accompagnera votre
                                        offre
                                    </label>
                                    <input @change="$e=>fileChanged($e)" type="file" class="form-control" name="image">
                                </div>
                            </div>
                            
                           
                            <button class="btn btn-primary float-end" type="submit">Sauvegarder</button>
                        </div>
                        
                       
                       

                    </div>
                </form>
            </div>
        </div>
        
 </DashboardRecruteur>
</template>
<script>
import Editor from '@tinymce/tinymce-vue'
import DashboardRecruteur from '../DashboardView.vue'
import { OffreEmploi } from '@/services/offre_emploi.service'
import { infoService,accountService } from '@/services'
export default {
    components:{DashboardRecruteur,'editor': Editor },
    props:['id'],
    mounted() {
        this.recruteur = accountService.USER

        OffreEmploi.get_offre(this.id)
        .then(res => this.offre_emploi=res.data)
        .catch(err => console.log(err))

        infoService.get_all_centre_interet()
            .then(res => this.centre_interets = res.data.results)
            .catch(err => console.log(err))

        infoService.get_all_competence()
            .then(res => this.competences = res.data.results)
            .catch(err => console.log(err))

        infoService.get_all_niv_etude()
            .then(res => this.niveau_etudes = res.data.results)
            .catch(err => console.log(err))

        infoService.get_all_post()
            .then(res => this.postes = res.data.results)
            .catch(err => console.log(err))
    },
    data() {
        return {
            recruteur:null,
            postes: [],
            competences: [],
            types_contrat:['CDD','CDI','FREELANCE','STAGE'],
            niveau_etudes: [],
            centre_interets: [],
            offre_emploi: {
                nom_entreprise: '',
                salaire: 0,
                nombre_demande:1,
                description:'',
                localisation: '',
                type_contrat: '',
                date_limite: null,
                langue_requise: '',
                age_requis: 18,
                poste: null,
                niveau_etude: null,
                competences: null,
                centre_interet: null,
                image:null,
            },
            mydata: new FormData()
        }
    },
    methods: {
        confirmForm(val){
           if(val=="poste"){
            
            const data = {
            poste:this.offre_emploi.poste, 
            description:this.offre_emploi.description,
            competences:this.offre_emploi.competences,
            niveau_etude:this.offre_emploi.niveau_etude,
            } 
            console.log(data);
            // this.update_offre(data)
           }

           if(val=="supp_info"){
            const data = {
            nom_entreprise:this.offre_emploi.nom_entreprise, 
            nombre_demande:this.offre_emploi.nombre_demande,
            salaire:this.offre_emploi.salaire,
            date_limite:this.offre_emploi.date_limite,
            type_contrat:this.offre_emploi.type_contrat,
            centre_interet:this.offre_emploi.centre_interet,
            } 
            console.log(data);

            this.update_offre(data)
           }

           if(val=="autres_info"){
            this.mydata.append('localisation',this.offre_emploi.localisation)
            this.mydata.append('age_requis',this.offre_emploi.age_requis)
            this.mydata.append('langue_requise',this.offre_emploi.langue_requise)
            this.update_offre(this.mydata)
           }
           
        },
        update_offre(data){
            OffreEmploi.update_offre(data,this.id)
            .then(res=>this.$swal.fire(
                'Modification effectuée !',
                'l\'offre a bien été modifiée',
                'success'
            ))
            .catch(err=>console.log(err)
            // this.$swal.fire(
            //     'Opération echoué',
            //     'Une erreur est survenue lors de la modification',
            //     'error'
            // )
            
            )
        },
        fileChanged(e){
            this.offre_emploi.image = e.target.files[0]
            this.mydata.append('image',this.offre_emploi.image)
        },
    },
}
</script>

<style>
    
</style>