<template>
    <div id="pcoded" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink" vnavigation-view="view1" nav-type="st2" fream-type="theme1" layout-type="light">

<nav class="navbar header-navbar pcoded-header iscollapsed" header-theme="themelight1" pcoded-header-position="fixed">
                <div class="navbar-wrapper">
                    <div class="navbar-logo d-flex justify-content-between" style="background-color: white;">
                        <a href="../index-2.html">
                            <img class="R-logo_entreprise" src="@/assets/images/logo-large.png" style=" width: 90%; "
                                alt="">
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-right">
                            <li class="header-notification ">
                                Accueil
                            </li>
                            <li class="header-notification">
                                Offres d'emploi
                            </li>

                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-bell"></i>
                                        <span class="badge bg-c-red">5</span>
                                    </div>
                                    <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn"
                                        data-dropdown-out="fadeOut">
                                        <li>
                                            <h6>Notifications</h6>
                                            <label class="label label-danger">New</label>
                                        </li>

                                        <li>
                                            <div class="media">
                                                <img class="img-radius" src="@/assets/files/assets/images/avatar-3.jpg"
                                                    alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">Joseph William</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer
                                                        elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="@/assets/files/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                        <span></span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <a href="auth-lock-screen.html">
                                                <i class="feather icon-lock"></i> Lock Screen
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id="hero-rbk" class="d-flex align-items-center" style="padding-top:60px;">
              <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
              <div class="row">
                  <span class="col-5">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Rechercher une offre d'emploi" style="width: 300px; height: 50px">
                </span>
                  <span class="col-5">
                    <select class="form-select" aria-label="Default select example" style="width: 300px; height: 50px;">
                    <option selected> Sélectionnez votre localité</option>
                    <option value="1">Cotonou</option>
                    <option value="2">Port-Novo</option>
                    <option value="3">Ouidah</option> 
                </select>
              </span>
              <span class="col-2"><a href=""><button class="btn" type="button" id="R_btn_rechercher" >Rechercher</button></a></span>
            </div>
<section class="container-fluid">
  <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class=" row card-body">
          <img class=" col-3 logo" src="@/assets/images/logo.png" alt="image du logo de l'entreprise">
          <div class="card-text col-9">
            <p class="metier">Administrateur des Bases de Données</p>
            <p class="socie">Société de ressources humaines</p>
            <p style="margin-right: 6%;"><i class="fas fa-map-marker-alt"></i> Cotonou, vers pharmacie Alafia</p>
            <p style="margin-left: 12%;"><i class="fas fa-calendar-alt"></i> Publié le : 16/06/2023</p>
            <label class="badge badge-warning" style="margin-left: 70%;">CDI</label>
            <p class="offre">En savoir plus</p>
          </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class=" row card-body">
          <img class=" col-3 logo" src="@/assets/images/logo.png" alt="image du logo de l'entreprise">
          <div class="card-text col-9">
            <div class="row">
              <p class=" col-11 metier">Ingénieur en Agronomie</p>
            </div>
            <p class="socie" style="margin-right: 20%;">Société Agricole</p>
            <p style="margin-right: 10%;"><i class="fas fa-map-marker-alt"></i> Parakou, vers la mairie</p>
            <p style="margin-left: 20%;"><i class="fas fa-calendar-alt"></i> Publié le : 14/04/2023</p>
            <label class="badge badge-info" style="margin-left: 70%;">Frelance</label>
            <p class="offre">En savoir plus</p>
         
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class=" row card-body">
          <img class=" col-3 logo" src="@/assets/images/logo.png" alt="image du logo de l'entreprise">
          <div class="card-text col-9">
            <p class="metier">Planificateur et Gestionnaire de Projets</p>
            <p class="socie" style="margin-right: 48%;">Société Kado</p>
            <p style="margin-right: 15%;"><i class="fas fa-map-marker-alt"></i> Cotonou, la 2ème rue d'Akpakpa</p>
            <p style="margin-right: 1%;"><i class="fas fa-calendar-alt"></i>  Publié le : 15/02/2023</p>
            <label class="badge badge-warning" style="margin-left: 70%;">CDI</label>
            <p class="offre">En savoir plus</p>

          </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class=" row card-body">
          <img class=" col-3 logo" src="@/assets/images/logo.png" alt="image du logo de l'entreprise">
          <div class="card-text col-9">
            <p class="metier">Maketing réseau</p>
            <p class="socie" style="margin-left: 5%;">Société de télécommunications</p>
            <p style="margin-right: 20%;"><i class="fas fa-map-marker-alt"></i> Calavi, vers Parana</p>
            <p style="margin-left: 20%;"><i class="fas fa-calendar-alt"></i> Publié le : 02/03/2023</p>
            <label class="badge badge-info" style="margin-left: 70%;">Frelance</label>
            <p class="offre">En savoir plus</p>

           </div>
      </div>
    </div>
  </div>
</div>
</section>
</div>

</section>
<section id="about" class="about-rbk">
  <div class="container">

    <div class="row no-gutters">
      <div class="content col-5 d-flex align-items-stretch" data-aos="fade-right">
        <div class="content">
          <h3>Kapital Humain & Conseils</h3>
          <p>Gbégamey-BENIN</p>
          <p>Imeuble BOURJON à trois étages situé dans la von en face de la Soneb</p>
          <p><b>Téléphone: </b>+(229)99915050/+(229)65 66 04 38</p>
          <p><b>Email: </b>gnankpan@kapitalhc.com</p>
        </div>
      </div>
      <div class="col-xl-7 d-flex align-items-stretch" data-aos="fade-left">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 icon-box" data-aos="fade-up" id="R-footer" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Liens importants</h4>
              <li>Offres D'emploi</li>
              <li>Espace Recruteur</li>
            </div>
            <div class="col-md-6 icon-box" id="Footer1" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>Kapital Humain & Conseils</h4>
              <p>Rendre l'avenir plus radieux</p>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
</div>
    
<footer id="footer-rbk">

<div class="container d-md-flex py-4">

  <div class="me-md-auto text-center text-md-start">
    <div class="R-copyright">
      &copy; Copyright <strong><span>Kapital Humain et Conseils</span></strong>. Tous droits réservés.
    </div>
  </div>
  
</div>
</footer>

</template>
<script>
import '@/assets/js/main.js';
export default{
}
</script>
<style scoped>
a{
  text-decoration: none;
}
#R_btn_rechercher{
 background-color: #1D4851; 
  color: white; 
  width: 150px; 
  height: 50px;
}
#R_btn_rechercher:hover{
  background-color: #cc5500;
}
#R_btn_connexion{
  background-color: #1D4851; 
  color: white;
}
#R_btn_connexion:hover{
  background-color: #cc5500;
}
#Footer1{
  margin-left: 80%;
  margin-top: -30%;
}
#R-footer{
  margin-left: 20%;
}
.card{
  margin-top: 5%;
}
.logo{
    width: 20%;
    height: 20%;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 100%;
    border: 1px;
  }
  .metier{
    color: #1D4851;
    font-weight: bold;
    font-size: 20px;
  }
  .socie{
    font-weight: bold;
    font-size: 15px;
  }
  .offre{
    font-size: 15px;
    font-weight: bold;
    color: #1c5e74;
    margin-left: 70%;
 }
</style>