body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Krub", sans-serif;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


#header-rbk {
  background: #f6f7ff;
}

#header-rbk .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

#header-rbk .logo a {
  color: #2d405f;
}

#header-rbk .logo img {
  max-height: 40px;
}

.navbar-rbk {
  padding: 0;
}

.navbar-rbk ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-rbk li {
  position: relative;
}

.navbar-rbk a,
.navbar-rbk a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Krub", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #2d405f;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar-rbk a i,
.navbar-rbk a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar-rbk a:hover,
.navbar-rbk .active,
.navbar-rbk .active:focus,
.navbar-rbk li:hover>a {
  color: #3b4ef8;
}

.navbar-rbk .getstarted,
.navbar-rbk .getstarted:focus {
  background: #e2e5fe;
  padding: 9px 25px;
  margin-left: 30px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  color: #3b4ef8;
}

.navbar-rbk .getstarted:hover,
.navbar-rbk .getstarted:focus:hover {
  color: #fff;
  background: #3b4ef8;
}

.navbar-rbk .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar-rbk .dropdown ul li {
  min-width: 200px;
}

.navbar-rbk .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
  font-weight: 500;
}

.navbar-rbk .dropdown ul a i {
  font-size: 12px;
}

.navbar-rbk .dropdown ul a:hover,
.navbar-rbk .dropdown ul .active:hover,
.navbar-rbk .dropdown ul li:hover>a {
  color: #3b4ef8;
}

.navbar-rbk .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar-rbk .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar-rbk .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar-rbk .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar-rbk .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #2d405f;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(29, 41, 60, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #2d405f;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #3b4ef8;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #3b4ef8;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero-rbk Section
--------------------------------------------------------------*/
#hero-rbk {
  width: 100%;
  height: 100vh;
  background: white;
  border-bottom: 2px solid white;
  text-align: center;
}

#hero-rbk .container {
  padding-top: 70px;
}

#hero-rbk h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #141d2b;
  width: 60%;
  color: #2d405f;
}

#hero-rbk h2 {
  color: #466393;
  margin: 15px 0 0 0;
  font-size: 24px;
  color: #2d405f;
}

#hero-rbk .btn-get-started {
  font-family: "Krub", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: block;
  padding: 8px 32px 10px 32px;
  margin-top: 25px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: #3b4ef8;
}

#hero-rbk .btn-get-started:hover {
  background: #0a22f6;
}

#hero-rbk .hero-img {
  max-width: 60%;
  margin-top: 40px;
}

@media (max-width: 992px) {
  #hero-rbk h1 {
    font-size: 36px;
    line-height: 42px;
    width: 100%;
  }

  #hero-rbk h2 {
    font-size: 20px;
    line-height: 24px;
  }

  #hero-rbk .hero-img {
    max-width: 90%;
  }
}

@media (max-height: 768px) {
  #hero-rbk {
    height: auto;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-rbk {
  background: #466393;
  background-size: cover;
  padding: 10px 0;
  position: relative;
  color: #fff;
}

.about-rbk .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #fff;
  margin-bottom: 30px;
}

.about-rbk .content p {
  margin-bottom: 30px;
}

.about-rbk .content .about-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.05);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
}

.about-rbk .content .about-btn i {
  font-size: 14px;
}

.about-rbk .content .about-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.about-rbk .icon-boxes .icon-box {
  margin-top: 30px;
}

.about-rbk .icon-boxes .icon-box i {
  font-size: 40px;
  color: #b6bdfc;
  margin-bottom: 10px;
}

.about-rbk .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about-rbk .icon-boxes .icon-box p {
  font-size: 15px;
}

@media (max-width: 1200px) {
  .about-rbk .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about-rbk {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer-rbk {
  color: #444444;
  font-size: 14px;
  background: #f1f3ff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer-rbk .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer-rbk .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer-rbk .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #2d405f;
}

#footer-rbk .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Krub", sans-serif;
  color: #4e6fa4;
}

#footer-rbk .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #2d405f;
  position: relative;
  padding-bottom: 12px;
}

#footer-rbk .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer-rbk .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer-rbk .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #6c7afa;
  font-size: 18px;
  line-height: 1;
}

#footer-rbk .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer-rbk .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer-rbk .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer-rbk .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #3b4ef8;
}

#footer-rbk .footer-newsletter {
  font-size: 15px;
}

#footer-rbk .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #2d405f;
  position: relative;
  padding-bottom: 12px;
}

#footer-rbk .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #9da7fc;
}

#footer-rbk .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer-rbk .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #3b4ef8;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer-rbk .footer-newsletter form input[type=submit]:hover {
  background: #0a22f6;
}

#footer-rbk .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer-rbk .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e7eafe;
  color: #3b4ef8;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer-rbk .social-links a:hover {
  background: #3b4ef8;
  color: #fff;
  text-decoration: none;
}