<template>
    <section class="le_background">
      <div class="row">
        <div class="row">
          <div class="row">
            <img  class="mb-3 col-6" id="recruter" src="@/assets/images/espace_recruteur.jpg" alt="">
            <img  class="mb-3 col-6" id="candidat" src="@/assets/images/espace_candidat.jpg" alt="">
          </div>
          <router-link :to="{name: 'login_recruiteur'}"><button class="btn col-3" id="btn_recruiter" type="button" > Espace recruteur</button></router-link>
          <router-link :to="{name: 'LoginPage'}"><button class="btn col-3" id="btn_candidat" type="button"> Espace candidat</button></router-link>
        </div>
      </div>
  </section>
  </template>
  
  <script>
  export default {
    name: 'choice_role',
    props: {
    }
  }
  </script>
  <style>
  #recruter{
    margin-bottom: 80%;
    transition: 1s;
    width: 45%;
    margin-left: 5%;
  }
  #recruter:hover{
    margin-bottom: 80%;
    transition: 1s;
    transform: scale(1.2);
  }
#candidat{
  margin-bottom: 80%;
  transition: 1s;
  width: 40%;
  margin-left: 5%;
}
#candidat:hover{
  margin-bottom: 80%;
  transition: 1s;
  transform: scale(1.2); 
}
  #btn_recruiter{
    background-color: #cc5500;
    color: white;
    margin-left: 20%;
    margin-top: 5%;
    width: 200px;
    height: 50px;
  }
  #btn_recruiter:hover{
    background-color: #1D4851;
    color: white;
    transition: 1s;
  transform: scale(1.2); 
  }
  #btn_candidat{
    background-color: #1D4851;
    color: white;
    margin-left: 65%;
    margin-top: -7%;
    width: 200px;
    height: 50px;
  }
  #btn_candidat:hover{
    background-color: #cc5500;
    color: white;
    transition: 1s;
    transform: scale(1.2); 
  }
  .le_background{
    background-color: rgb(231, 247, 247);
  }
</style>
  