<template>
  <section class="vh-1" style="background-color: white;">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-11">
        <header id="header-rbk" class="fixed-top">
          <div class="container d-flex align-items-center justify-content-between">
            <div>
              <h1 class="text_recruit" style="margin-top: 3%;">K-talent</h1>
              <img class="R-logo_entreprise" src="@/assets/images/logo.png" alt=""> 
          </div>
          <nav class="navbar-rbk fixed">
          <ul>
            <li><a style="color: #1D4851;" href="#">Offres D'emploi</a></li>
            <li><router-link :to="{name: 'login_recruiteur'}" style="color: #1D4851;" href="#">Espace Recruteur</router-link></li>
            <router-link :to ="{name : 'role'}"><button class="btn" type="button" id="R_btn_connexion">Connexion</button></router-link>
      </ul>
    </nav>

  </div>
       </header>
          <section class="container" style="padding-top: 80px;">
         <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-7 d-none d-md-block img_illustration" style="border-radius: 1rem 0 0 1rem;">
              <img src="../assets/images/illustration_register.png"
                alt="login form" class="illustration" style="border-radius: 1rem 0 0 1rem;"/>
            </div>
            <div class="col-md-5 col-lg-5 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form @submit.prevent="confirmForm()">
  
          <div class="d-flex align-items-center mb-3 pb-1">
          <img class="logo" src="@/assets/images/logo.png" alt="image du logo de l'entreprise">
          </div>

  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"><span class="phrase_connexion">Inscrivez-vous</span></h5>
  <div v-if="have_errors">
  <div v-for="error in errors" class="alert alert-danger small"> {{ error }}</div>
  </div>
  <div class="form-floating mb-3">
      <input v-model = "user.email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
      <label for="floatingInput">Adresse e-mail</label>
  </div>
<div class="form-floating mb-3">
  <input v-model="user.password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
  <label for="floatingPassword">Mot de passe</label>
</div>
<div class="form-floating mb-3">
  <input v-model = "confpassword" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
  <label for="floatingPassword">Confirmer votre mot de passe</label>
</div>
<div class="d-grid gap-2 col-12 mx-auto mb-3">
  <button class="btn btn-lg mb-3"><span style="color: white;">Créer mon Compte</span></button>
</div>

  <p class="mb-5 pb-lg-2" style="color: #1D4851;">Déjà inscrit? <router-link :to ="{name: 'LoginPage'}"
      style="color: #393f81;">Connectez-vous</router-link></p>
</form>
               </div>
            </div>
          </div>
        </div>
</section>
      </div>
    </div>
  </div>
  
<footer id="footer-rbk">

<div class="container d-md-flex py-4">

<div class="me-md-auto text-center text-md-start">
  <div class="R-copyright">
    &copy; Copyright <strong><span>Kapital Humain et Conseils</span></strong>. Tous droits réservés.
  </div>
</div>

</div>
</footer>
</section>
</template>
  
  <script>
  import { accountService } from '@/services'
  export default {
    name: 'Signup_Page_Recruiteur',
    props: {
    },
    data(){
      return {
        user:{
          email:'',
          password:'',
          role:'recruteur'
        },
        confpassword:'',
        errors: []
      }
    },
    computed:{
          have_errors(){
            return this.errors.length !=0 ? true : false
          }
    },
    methods:{
      confirmForm(){
        this.errors = []
        if (this.user.password != this.confpassword ){
          this.errors.push('vous avez mal confirmé votre mot de passe')
        }
       if(this.user.email ==''){
        this.errors.push('l\'adresse email est obligatoire')
       }
       if(this.user.password == '' || this.confpassword ==''){
        this.errors.push('le mot de passe est obligatoire')
       }
       if(this.user.password.length < 8 ){
        this.errors.push('le mot de passe doit comporter au moins 8 caractère')
       }
       if(this.errors.length == 0){
        this.register()
       }
      },
      register(){
          accountService.register(this.user)
          .then((res)=>{
            accountService.saveToken(res.data.access)
            accountService.saveUser(res.data.user)
            this.$router.push({name:'dashboard_recruteur'})
          })
          .catch(err =>{
            this.errors.push('une erreur s\'est produite lors de l\'inscription')
          })
        }
      }
  }
  </script>
  
  <style scoped>
  .logo{
    width: 30%;
    height: 30%;
    margin-top: -5%;
    margin-left: 25%;
    border-radius: 100%;
    border: 1px;
    box-shadow: 3px 3px 3px 3px rgb(159, 155, 155);;
  }
  .illustration{
    width: 105%;
    height: auto;
  }
  .img_illustration{
    background-color: #bfe5ed;
  }
  .phrase_connexion{
  font-weight: bold;
  margin-left: 15%;
  font-size: 125%;
  color: #1D4851;
  }
  .btn:hover{
    background-color: #cc5500;
  }
  .btn{
    background-color: #1D4851;
  }
  .logo_google{
    margin-right: 10%;
  }
  #btn_google{
    background-color: #FF5733;
    color: #fefdfd;
  }
  #btn_google:hover{
    background-color: #fefdfd;
    border: solid 2px #FF5733 ;
    color: black;
  }
  
  
  </style>
  

