<template>
<div id="pcoded" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink" vnavigation-view="view1" nav-type="st2" fream-type="theme1" layout-type="light">

<nav class="navbar header-navbar pcoded-header iscollapsed" header-theme="themelight1" pcoded-header-position="fixed">
                <div class="navbar-wrapper">
                    <div class="navbar-logo d-flex justify-content-between" style="background-color: white;">
                        <a href="../index-2.html">
                            <img class="R-logo_entreprise" src="@/assets/images/logo-large.png" style=" width: 90%; "
                                alt="">
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-right">
                            <li class="header-notification ">
                                Accueil
                            </li>
                            <li class="header-notification">
                                Offres d'emploi
                            </li>

                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-bell"></i>
                                        <span class="badge bg-c-red">5</span>
                                    </div>
                                    <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn"
                                        data-dropdown-out="fadeOut">
                                        <li>
                                            <h6>Notifications</h6>
                                            <label class="label label-danger">New</label>
                                        </li>

                                        <li>
                                            <div class="media">
                                                <img class="img-radius" src="@/assets/files/assets/images/avatar-3.jpg"
                                                    alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">Joseph William</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer
                                                        elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>

                                        </li>
                                    </ul>
                                </div>
                            </li>



                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="@/assets/files/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                        <span>{{username}}</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">

                                        <li>
                                            <a href="auth-lock-screen.html">
                                                <i class="feather icon-lock"></i> Lock Screen
                                            </a>
                                        </li>
                                        <li @click="logout()">
                                            <a>
                                                <i class="feather icon-log-out"></i> Deconnexion
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


           

            <div class="pcoded-main-container" style="margin-top: 80px;">
                <div class="pcoded-wrapper">

                    <nav class="pcoded-navbar" navbar-theme="theme1" active-item-theme="theme1" sub-item-theme="theme2" active-item-style="style0" pcoded-navbar-position="fixed">
                        <slot name="sidebarNav">

                        </slot>
                    </nav>
                    <div class="pcoded-content">
                        <div class="page-header card" style="border: none;">



                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <a href="#"><i @click="goBack()" class="feather icon-arrow-left bg-c-blue"></i></a>
                                        <!-- <div class="d-inline">
                                                <h5 class="f-w-700">Tableau de Bord</h5>
                                                <span class="f-w-500">Visualiser les statistiques de tout vos recrutements</span>
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">

                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">

                                        <slot></slot>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
export default {
    methods: {
        goBack() {
            history.back()
        },
        logout(){
            this.$store.commit('LOGOUT')
            this.$router.push({name:'Home_Page'})
        }
    },
    computed:{
        username(){
           return this.$store.getters.getUser? this.$store.getters.getUser.email :''
        }
    }
}
</script>
<style>
.nav-left {
    margin-bottom: 0;
}

.evaluation {
    margin-bottom: -90%;
}

.sidebar {
    margin-top: 50%;
}
</style>