<template>
   <div class="nav-list">
        <div class="pcoded-inner-navbar main-menu">
            <ul class="pcoded-item pcoded-left-item sidebar" style="margin-top: 20%;">
                <li class=" ">
                    <a class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        </span>
                        <h5 class="pcoded-mtext">Tableau de Bord</h5>
                    </a>
                </li>
                <li class=" ">
                    <router-link class="waves-effect waves-dark" :to="{name:'profil_candidat'}">
                        <span class="pcoded-micon">
                        </span>
                        <h5 class="pcoded-mtext">Mon Profil</h5>
                    </router-link>
                </li>
                <li class="">
                        <router-link class="waves-effect waves-dark "  :to="{name:'experiences'}">
                          <span class="pcoded-micon">
                        </span>
                         <h5 class="pcoded-mtext ">Mes Expériences</h5>
                        </router-link>
                    </li>
               
            </ul>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>