<template>
       <div class="nav-list">
        <div class="pcoded-inner-navbar main-menu">
            <ul class="pcoded-item pcoded-left-item sidebar" style="margin-top: 20%;">
                <li class=" ">
                    <router-link class="waves-effect waves-dark" :to="{name:'dashboard_recruteur'}">
                        <span class="pcoded-micon">
                        </span>
                        <h5 class="pcoded-mtext">Tableau de Bord</h5>
                    </router-link>
                </li>
                <li class="">
                        <router-link class="waves-effect waves-dark "  :to="{name:'profil_recruteur'}">
                          <span class="pcoded-micon">
                        </span>
                         <h5 class="pcoded-mtext " >Mon profil</h5>
                        </router-link>
                </li>
                <li class=" ">
                    <a href="default/form-masking.html" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                        </span>
                        <h5 class="pcoded-mtext">Mes Recrutements</h5>
                    </a>
                </li>
                <li class=" ">
                    <a href="default/form-wizard.html" class="waves-effect waves-dark">
                        <span class="pcoded-micon">
                            <!-- <i class="feather icon-tv"></i> -->
                        </span>
                        <h5 class="pcoded-mtext" id="evaluation">Gérer mes évaluations</h5>
                    </a>
                </li>
                <li class=" ">
                    <a href="default/form-wizard.html" class="waves-effect waves-dark ">
                        <span class="pcoded-micon ">
                            <!-- <i class="feather icon-tv"></i> -->
                        </span>
                        <h5 class="pcoded-mtext ">Gérer mes entretiens</h5>
                    </a>
                </li>
                
                
            </ul>
        </div>
    </div>
</template>


<style>

</style>