<template>
        <DashboardLayout>
            <template #sidebarNav>
                <NavBarRecruteur></NavBarRecruteur>
            </template>
            <slot></slot>
        </DashboardLayout>
</template>
<script>
import NavBarRecruteur from '@/components/NavBarRecruteur.vue';
import DashboardLayout from '@/components/DashboardLayout.vue';
export default{
    name:'DashboardRecruteur',
    components:{NavBarRecruteur,DashboardLayout}
}
</script>