<template>
    <DashboardRecruteur>

        <div class=" d-flex justify-content-between" style="margin-top: -3%;">
            <div></div>
            <router-link :to="{ name: 'add_offre' }">
                <button class="btn mybtn mx-4 my-2"> nouveau recrutement</button>
            </router-link>
        </div>
        <div class="row mx-2">
            <div class="col-xl-4 col-md-4">
                <div class="card comp-card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-b-25 perso-text">Recrutements en cours</h6>
                                <h3 class="f-w-700 text-c-blue perso-text">{{encours}}</h3>

                            </div>
                            <div class="col-auto">
                                <i class="fas fa-briefcase bg-c-blue"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4">
                <div class="card comp-card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-b-25 perso-text">Recrutements Terminés</h6>
                                <h3 class="f-w-700 text-c-green perso-text">10</h3>

                            </div>
                            <div class="col-auto">
                                <i class="fas fa-check-circle bg-c-green"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4">
                <div class="card comp-card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-b-25 perso-text">Candidatures en cours</h6>
                                <h3 class="f-w-700 text-c-yellow perso-text">3000</h3>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-address-card bg-c-yellow"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5>Recrutements en cours</h5>
            </div>
            <div class="row card-block">
                <div class="col-md-12">
                    <ul class="list-view" >
                        <li v-for="(item, index) in offre_emplois" :key="index">
                            <div class="card offre-card list-view-media">
                                <div class="card-block">
                                    <div class="media">
                                        <a class="media-left" href="#">
                                            <img class="media-object card-list-img img-fluid" style="width:100px; height:100px" :src="images[index]" alt="entreprise image">
                                        </a>
                                        <div class="media-body">
                                            <div class="col-xs-12 d-flex justify-content-between">
                                                <div>
                                                    <h5 class="d-inline-block f-w-600">
                                                        {{item.poste.nom}}</h5>
                                                    <label class=" mx-1 label label-info" v-if="item.type_contrat!='' && item.type_contrat!=null">{{item.type_contrat}}</label>
                                                </div>
                                                <div class="small f-w-500">
                                                   <i class="fas fa-calendar-alt"></i> publié le {{item.date_publication}}
                                                </div>
                                            </div>
                                            <div class="f-13 text-muted m-b-15">
                                                {{item.nom_entreprise}}
                                            </div>
                                            <p>
                                                <div class="h6">competences requises:</div>
                                                <span v-for="(competence, indice) in item.competences" :key="indice" >{{competence.nom}}, </span>
                                                <div class="h6 my-1">Niveau d'étude requis:<span class="mx-2 text-c-blue">{{item.niveau_etude.niveau_etude}}</span></div>  
                                                <div class="h6 my-2">Date de cloture des Candidatures :<span class="mx-2 text-c-red"> {{item.date_limite}}</span></div>
                                            </p>
                                           
                                               
                                                <div class=" float-end">
                                                <button @click="edit_offre(item.id)" data-toggle="tooltip" title="modifier"
                                                    class="btn btn-facebook btn-primary btn-mini waves-effect waves-light mx-2">
                                                   <i class="fas fa-edit"></i>
                                                </button>
                                                <button @click="delete_offre(item.id,index)"  data-toggle="tooltip" title="supprimer"
                                                    class="btn btn-facebook btn-danger btn-mini waves-effect waves-light mx-2">
                                                   <i class="fas fa-trash"></i>
                                                </button>
                                            
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>

    </DashboardRecruteur></template>

<script>
import DashboardRecruteur from './DashboardView.vue'
import {OffreEmploi} from '@/services/offre_emploi.service'
import Swal from 'sweetalert2'

export default {
    components: { DashboardRecruteur },
    mounted(){
        OffreEmploi.get_recruteur_offres(42)
        .then(res=>this.offre_emplois=res.data)
        .catch(err=>console.log(err))
    },
    data() {
        return {
            offre_emplois:[]
        }
    },
    methods: {
        edit_offre(offre_id){
            this.$router.push({name:'edit_offre',params:{id:offre_id}})
        },
        delete_offre(offre_id,index){
            Swal.fire({
                title: 'Êtes vous sûr?',
                text: "Ce recrutement sera définitivement supprimé",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oui, supprimer!',
                cancelButtonText:'Annuler'
            }).then((result) => {
                if (result.isConfirmed) {
                    OffreEmploi.delete_offre(offre_id)
                        .then((res) => {
                            this.offre_emplois.splice(index,1)
                            Swal.fire(
                                'Supprimé!',
                                'Le recrutement a bien été supprimé',
                                'success'
                            )
                        })
                        .catch(err => {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'le recrutement n\'a pas pu etre supprimé !',
                                    })
                                })

                }
            })
        }
        
    },
    computed:{
        images(){
            return this.offre_emplois.map(offre=>offre.image!=null ? `http://localhost:8000${offre.image}`:'http://localhost:8000/media/images/defaut.jpg' )
        },
        encours(){
            return this.offre_emplois.length
        }
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.perso-text {
    font-family: 'Roboto', sans-serif;
}
.offre-card:hover{
    transform: scale(1.03);
    transition: 200ms;
    cursor: pointer;
}
.offre-card{
    transition: 200ms;
}
</style>