<template>
    <div>
        <DashboardLayout>
            <template #sidebarNav>
                <NavbarCandidat></NavbarCandidat>
            </template>
            <slot></slot>
        </DashboardLayout>
    </div>
</template>
<script>
import NavbarCandidat from '@/components/NavbarCandidat.vue';
import DashboardLayout from '@/components/DashboardLayout.vue';
export default{
    name:'DashboardCandidat',
    components:{NavbarCandidat,DashboardLayout}
}
</script>