<template>
  <DashboardCandidat>
  <div>
    <form @submit.prevent="update_profil()" enctype="multipart/form-data">
    <section class="text-center">

      <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h2 class="fw-bold mb-5" style="color: #1D4851;">Mon profil</h2>

              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="nom" style="color: #1D4851;">Votre nom</label>
                    <input v-model="user.nom" type="text" id="nom" class="form-control bg-light" />
                  </div>

                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2" style="color: #1D4851;">Votre prénom</label>
                    <input v-model="user.prenoms" type="text" id="form3Example2" class="form-control bg-light" />

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2" style="color: #1D4851;">Votre Email</label>
                    <input v-model="user.email" type="text" id="form3Example2" class="form-control bg-light" disabled/>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2" style="color: #1D4851;">Numéro de téléphone</label>
                    <input v-model="user.telephone" type="text" id="form3Example2" class="form-control bg-light" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2" style="color: #1D4851;">date de naissance</label>
                    <input v-model="user.date_naissance" id="form3Example2" class="form-control bg-light" type="date" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2" style="color: #1D4851;">Adresse</label>
                    <input v-model="user.adresse" type="text" id="form3Example2" class="form-control bg-light" />
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-md-2">Sexe</label>
                <div class="col-sm-10 col-md-5">
                  <div class="form-radio">
                    <div class="radio radiofill radio-primary radio-inline">
                      <label>
                        <input type="radio" v-model="user.sexe" value="M">
                        <i class="helper"></i>Masculin
                      </label>
                    </div>
                    <div class="radio radiofill radio-primary radio-inline">
                      <label>
                        <input type="radio"  v-model="user.sexe" value="F">
                        <i class="helper"></i>Feminin
                      </label>
                    </div>
                  </div>
                  <span class="messages"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2" style="color: #1D4851;">pays</label>
                        <v-select class="bg-light" v-model="user.pays" :options="pays" placeholder="selectionner un pays"></v-select>                  
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2" style="color: #1D4851;"> Compétences</label>
                    <v-select v-model="user.competences" class="multi_select" :options="competences" label="nom"
                      multiple></v-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="niv_etude" style="color: #1D4851;">Niveau d'étude</label>
                    <v-select class="bg-light" :reduce="nv=>nv.id" v-model="user.niveau_etude" :options="niveau_etudes" label="niveau_etude" track-by="id"></v-select>
                    
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="competence" style="color: #1D4851;">Centre d'interêts</label>
                    <v-select v-model="user.centre_interets" class="multi_select" :options="centre_interets" label="nom"
                      multiple></v-select>
                  </div>
                </div>

              </div>

              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="form-label" for="form3Example2" style="color: #1D4851;">Uploader un cv</label>
                  <input @change="$event => cvChange($event)" type="file" class="form-control" name="cv">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="form-label" for="form3Example2" style="color: #1D4851;">uploader une lettre de motivation</label>
                  <input @change="$event => lettreChange($event)" type="file" class="form-control" name="lettre">
                </div>
              </div>

             
              <button class="btn btn-lg mb-3" style="background-color: #1D4851; color: white; width: 250px; height: 50px;"
                type="submit">Sauvegarder</button>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </form>
  </div>
                      
</DashboardCandidat>                 
</template>

<script>

import { infoService, accountService ,Countries } from '@/services';
import DashboardCandidat from './DashboardView.vue'
import { useToast } from "vue-toastification";
export default {
  name: 'ProfilCandidat',
  components:{DashboardCandidat},
  data() {
    return {
      pays:[],
      niveau_etudes: [],
      centre_interets: [],
      competences: [],
      postes: [],
      user: {
        nom: '',
        prenoms: '',
        adresse: '',
        email: '',
        telephone: null,
        date_naissance: null,
        pays: '',
        experience_professionnelle: [],
        centre_interets: [],
        competences: null,
        cv: null,
        lettre_motivation: null,
        niveau_etude: null,
        sexe: ''
      },
      mydata: new FormData()
    }
  },
  methods: {
    get_profil() {
      accountService.get_profil_candidat()
        .then(res => {this.user = res.data.user})
        .catch(err => console.log(err))
    },
    update_profil() {
      this.mydata.append('nom', this.user.nom)
      this.mydata.append('prenoms', this.user.prenoms)
      this.mydata.append('adresse', this.user.adresse)
      this.mydata.append('telephone', parseInt(this.user.telephone))
      this.mydata.append('pays', this.user.pays)
      this.mydata.append('niveau_etude', this.user.niveau_etude)
      this.mydata.append('sexe', this.user.sexe)
      this.mydata.append('competences',JSON.stringify(this.user.competences))
      this.mydata.append('centre_interets',JSON.stringify(this.user.centre_interets))

      accountService.update_profil_candidat(this.mydata)
      .then(res=>{
        this.mydata=new FormData()
      })
      .catch(err => console.log(err))

    },
    cvChange(e) {
      this.user.cv = e.target.files[0]
      this.mydata.append('cv', e.target.files[0])
    },
    lettreChange(e) {
      this.user.lettre_motivation = e.target.files[0]
      this.mydata.append('lettre_motivation', e.target.files[0])
    }
  },
  mounted() {
   
    // const toast = useToast();
    // toast.success("hello")
    infoService.get_all_centre_interet()
      .then(res => { this.centre_interets = res.data.results })
      .catch(err => console.log(err))

    infoService.get_all_competence()
      .then(res => { this.competences = res.data.results })
      .catch(err => console.log(err))

    infoService.get_all_post()
      .then(res => this.postes = res.data.results)
      .catch(err => console.log(err))

    infoService.get_all_niv_etude()
    .then(res=>this.niveau_etudes=res.data.results)
    .catch(err=>console.log(err))

    Countries.get_all_countries().then(res=>{
      const pays=res.data.map(e=>e.translations.fra.common)
      pays.sort((a, b) => {
        return a.localeCompare(b);
      });
      this.pays=pays 
    }).catch(err=>console.log(err))

    

    this.get_profil()

  }
}
</script>
<style >

@import 'vue-select/dist/vue-select.css';

.multi_select .vs__selected {
  background-color: #4099ff;
  color: white
}

.multi_select {
  background-color: rgb(248, 249, 250);
}
.nav-left {
  margin-bottom: 0;
}

.evaluation {
  margin-bottom: -90%;
}

.sidebar {
  margin-top: 50%;
}

section {
  padding: 0px;
}

.form-group {
  margin-bottom: 1.25em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}</style>